{% extends 'base.html' %}

{% block content %}

    <div class="wrapper" style="width: 700px; margin: auto; text-align: left">

        <p style="padding: 20px;">The project is based on site <a href="https://laptopfriendly.co/">https://laptopfriendly.co/</a>
            and made as
            a part of <a href="https://www.udemy.com/course/100-days-of-code">100 days of code by Angela Yu </a> corse.
        </p>

        <p style="padding: 20px;">This is in no way a legit service, it is a study project.</p>
        <p style="padding: 20px;">What I learned and used:</p>

        <ul style="padding: 20px; list-style: square;">
            <li>Python Flask templates engine</li>
            <li>DOM manipulation</li>
            <li>creating API in Python</li>
            <li>Javascript async</li>
            <li>working with Google maps API</li>
        </ul>

    </div>
{% include 'footer.html' %}
{% endblock %}

